<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular forms</h1>
    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email">
      <div class="validation"></div>
    </div>
    <div class="form-control">
      <label>Password</label>
      <input type="password" placeholder="Password" formControlName="password">
      <div class="validation"></div>
    </div>
    <div class="card">
      <h2>Address</h2>
      <div class="form-control">
        <label>Country</label>
        <select>
          <option value="nl">Netherlands</option>
          <option value="de">Deutschland</option>
          <option value="dm">Denmark</option>
        </select>
      </div>
      <div class="from-control">
        <input type="text">
      </div>
      <button class="btn btn-primary" type="button">Choose a capital</button>
    </div>
    <div class="card">
      <h2>Your skills</h2>
      <button class="btn" type="button">Add a skill</button>
      <div class="form-control">
        <label></label>
        <input type="text">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Send</button>
  </form>
</div>
