/* You can add global styles to this file, and also import other style files */

@import 'node_modules/bootstrap/scss/bootstrap.scss';

label {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: .5rem;
}

input {
  margin-bottom: 0;
}

.validation {
  color: red;
}

.card {
  padding: 1rem;
  border: 1px dotted #ccc;
  margin: 0.7rem 0;
}

input {
  &.ng-invalid.ng-touched {
    border: 3px solid red;

  }
  &.ng-valid.ng-touched {
    border: 3px solid green;
  }
}
